
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(152, 194, 221);
}
.gameName {
    font-size: 300%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
    text-align: center;
}

.container {
    width: 50%;
    background-color: rgb(3, 39, 11);
    border: 20px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 20px 6px;
    align-self: center;
}

.btn {
    font-size: 11px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: center;
    align-items: center;
    
}
.scoreBox,
.timerBox {
    border-radius: 10px;
    align-items: center;
    padding: 4px 4px;
    border: 1px solid #444;
    color:rgb(248, 239, 239);
    text-align: center;
}

.look {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: yellowgreen;
    text-align: center;
}

.headline-secondary--grouped {
    justify-content: center;
    font-size: 150%;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h1-title {
    color: rgb(240, 243, 234);
    text-align: center;
    size: 30px;
    font-family: sans-serif;
    font-size: 1em;
    margin: 0.67em 0;
}

.headline-question {
    color: #ddd455;
    font-weight: 500;
    font-size: 250%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }

  .column {
    float: left;
    width: 35%;
    padding: 10px;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;*/
  }



h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}


footer{
    height: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
